{% extends "base.html" %}

{% block page_content %}
<h1>{{ item.title }}</h1>
<div class="row">
    <div class="col-md-8">
        {% if item.image %}
            <img src="{{ item.image.url }}" width="100%" alt="product image">
        {% endif %}
    </div>
    <div class="col-md-4">
        <h5>About the product:</h5>
        <p>{{ item.description }}</p>
        <br>
        <h5>Price:</h5>
        <p>${{ item.price }}</p>
        <a href="{% url 'add_to_cart' item.pk %}"
            class="btn btn-info add-cart">
                Add to Cart
        </a>
    </div>
</div>
{% endblock page_content %}