{% extends "base.html" %}

{% block page_content %}
<h1>Shopping Cart</h1>
<div class="cart">
    <div class="col-md-4">
{% for item in cart_items %}
        <!-- <div class="col-md-8">
            {% if item.image %}
                <img src="{{ item.image.url }}" width="100%" alt="product image">
            {% endif %}
        </div> -->
        <div class="col-md-8">
            <h5>{{ item.item.title}} ({{ item.quantity }})</h5>
            <p class="cart-price">Price: ${{ item.item.price }}</p>
            <a href="{% url 'remove_from_cart' item.pk %}">Remove from cart</a>
        </div>
        <br>
        {% empty %}  
        <p>Your cart is empty.</p>
{% endfor %}
    </div>
    <div class="col-md-4 cart-total-box">
        <p class="cart-total">Total Price: ${{ total_price }}</p>
        <a class="btn btn-info add-cart" href="{% url 'item_index' %}">Continue Shopping</a>
    </div>
</div>
{% endblock %}